.table {
  width: 90%;
  padding: 20px;
  margin: 0 auto;
}

.add-data-div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.mat-mdc-header-row {
  height: 35px;
  background-color: #f5f5f5;
}
th {
  text-align: center;
  font-size: 16px;
}

td {
  text-align: center;
}
td :hover {
  cursor: pointer;
}
