<div class="add-data-div">
  <button
    mat-fab
    extended
    aria-label="Example icon button with a plus one icon"
    (click)="createBet()"
    class="add-data-button"
  >
    <mat-icon>add_circle</mat-icon>
    Bet
  </button>
</div>

<div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="League" class="mat-elevation-z8 table">
      <th mat-header-cell *matHeaderCellDef>League</th>
      <td mat-cell *matCellDef="let bet">{{ bet.league }}</td>
    </ng-container>
    <ng-container matColumnDef="Team">
      <th mat-header-cell *matHeaderCellDef>Team</th>
      <td mat-cell *matCellDef="let bet">{{ bet.team }}</td>
    </ng-container>
    <ng-container matColumnDef="Player">
      <th mat-header-cell *matHeaderCellDef>Player</th>
      <td mat-cell *matCellDef="let bet">{{ bet.player }}</td>
    </ng-container>
    <ng-container matColumnDef="Odd">
      <th mat-header-cell *matHeaderCellDef>Odd</th>
      <td mat-cell *matCellDef="let bet">{{ bet.odd }}</td>
    </ng-container>
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let bet">{{ bet.status }}</td>
    </ng-container>
    <ng-container matColumnDef="Amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let bet">{{ bet.amount }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
